
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Create User", "CreateUser", "Admin")</li>
    <li>@Html.ActionLink("Create Role", "CreateRole", "Admin")</li>
    <li>@Html.ActionLink("Assign Role", "AssignRole", "Admin")</li>
    <li>@Html.ActionLink("Manage People", "Index", "People")</li>
</ul>

<div>
    <br/>
    <hr/>
    @Html.ActionLink("Back Home","Index","Home")
</div>
